<div class="container-lg">
  <p style="color: green;text-align:center"><span id="publisher_notice"<%= notice %></p>

  <h1 align="center">There are <span id="publisher_counter"><%=Publisher.count%></span> Publishers Here</h1>

  <div class="row pt-2">
    
    <div class="col-12 col-lg-6 d-flex flex-column align-items-lg- center">
      <h2>Create a New Publisher</h2>
      <div id="new_publisher">
        <%= render partial:"publishers/form",locals:{publisher:Publisher.new}%>
      </div>
    </div>

    <div class="col-12 col-lg-6 d-flex flex-column">
      <div id="publishers">
        <% @publishers.each do |publisher| %>
          <%= render publisher %>
        <% end %>
      </div> 
    </div>

  </div>

</div>




