<p style="color: green"><%= notice %></p>

<div style="height:100vh" class="container mt-5 mx-5">
    <div>
      <%= render @publisher %>
      <%= link_to "Back to publishers", publishers_path %>
    </div>
</div>
