<p style="color: green"><%= notice %></p>

<div style="height:100vh" class="container mt-5 mx-5">
    <div>
        <%= render @book_type %>
        <%= link_to "Back to book_types", book_types_path %>
    </div>
</div>
