<h1>Editing book</h1>

<%=turbo_frame_tag "edit_book" do%>
<%= render "form", book: @book %>
<%end%>

<br>

<div>
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %>
</div>
