<p style="color: green"><%= notice %></p>

<div style="height:100vh" class="container mt-5 mx-5">
    <div>
        <%= render @book %>
        <%= link_to "Back to books", books_path%>
    </div>
</div>


